/* You can add global styles to this file, and also import other style files */
* { margin: 0; padding: 0; }

html, body { min-height: 100%; } 
body { margin: 0; font-family: Roboto, Helvetica, sans-serif; font-size: 14px; background-color: #f3f3f3; color: #333; } 

#app { height: 100%;}
.container-fluid { margin: 0 auto; padding: 20px; /* max-width: 980px; */ height: calc(100% - 141px) !important; overflow-y: auto; padding-left: 220px; } 

a { color: #c00c00; text-decoration: none; }
.Header_comp_Name { font-size: 28px !important; font-weight: normal; } 

footer {  width: 100%; text-align: center; padding: 10px 0; background: #2e2a2a; color: #fff; z-index: 2; } 

.full-width { width: 100%; } 

.sidenav .heading { padding: 0 15px; } 

.page-title { font-weight: 500; font-size: 24px; line-height: 1.5; margin: 15px 0 5px; }

button.mat-primary { background-color: #666; color: #fff !important; font-weight: normal; }
button.mat-primary:hover { background-color: #333;  }

.error-snackbar { background: #ff4040; color: #fff; } 
.success-snackbar { background: #40c040; color: #fff; } 

.mat-step-header { pointer-events: none !important; } 
.mat-list-item { height: auto !important; padding: 10px 0 !important; } 

.warning-alert { background: #f0c000; color: #ffffff; padding: 5px; border-radius: 5px; } 
.error-alert { background: #ff4040; color: #ffffff; padding: 5px; border-radius: 5px; } 
.success-alert { background: #40c040; color: #ffffff; padding: 5px; border-radius: 5px; } 

.divider { height: 20px; } 
 
.mat-form-field-flex { padding-left: 5px; } 
.mat-toolbar { background: #c00c00 !important; color: #fff; padding: 0 15px; } 
.mat-toolbar-row, .mat-toolbar-single-row { padding: 0 15px 0 0 !important; } 

.mat-raised-button { background-color: #2e2a2a !important; } 

.swiper-button-prev, .swiper-button-next { color: #2e2a2a !important; } 

@media only screen and (max-width: 480px) {
  .container-fluid { padding-left: 15px;}

  .mat-vertical-content { padding: 0 !important; } 
  .material-icons { font-size: 20px; height: 30px; width: 30px; }
}
